include *.txt
include *.md
include *.pkl
recursive-include ./radio_fingerprint_model *

include radio_fingerprint_model/datasets/rf_measurements_2k_dataset.csv
include radio_fingerprint_model/datasets/test.csv
include radio_fingerprint_model/trained_models/*.pkl
include radio_fingerprint_model/VERSION
include radio_fingerprint_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]